<div id="section2">
    <div class="container1">
        <div class="show1">
            Короче тут немножка о нас
        </div>
        <div class="show1"> бдует ссылка</div>
        <div class="show1"> и что-то еще</div>
    </div>
</div>