<div id="section2">
    <div class="container1">
        <div class="show1">
            <em>Архангельская область образована 23 сентября 1937 года. Расположена на севере европейской части Российской Федерации. В область входит Ненецкий автономный округ. К Архангельской области относятся острова Земля Франца-Иосифа, Новая Земля, Соловецкие. Область граничит на западе с Карелией</em>
        </div>
        <div class="show1" > <b>В Арктике произрастают карликовые кустарники, злаки, травы, лишайники и мхи. Низкие летние температуры обусловливают малое разнообразие видов и небольшие размеры растений. </b></div>
        <div class="show1">Арктика сегодня - один из ключевых нефтеносных регионов на планете, а освоение арктического шельфа по своей значимости и сложности приравнивается к освоению космоса. </div>
    </div>
</div>