<div id="section2">
    <div class="container1">
        <div class="show1">
            <em>Тут будет бесполедная информация курсивом</em>
        </div>
        <div class="show1" > <b>Еще один блок бесполезной информации жирным шрифтом</b></div>
        <div class="show1" style="text-decoration: line-through">А тут вот очень важная инфа - читай внимательнее)</div>
    </div>
</div>