<div id="section5">
    <div class="container">
        <div class="well well-sm">
            <h1 class="font-bold mt-12 mb-6 h1">Контакты</h1></div>

        <div class="row">
            <div class="col-md-7">
                <iframe  style="width: 550px; height: 300px" src="https://maps.google.com/maps?width=550&amp;height=400&amp;hl=en&amp;q=22%20line%20of%20Vasilievsky%20island+(Map)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    <a href="https://www.maps.ie/create-google-map/">Embed Google Map</a></iframe>
            </div>

            <div class="col-md-5">
                <h4><strong>Написать сообщение</strong></h4>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" name="" value="" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="" value="" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" name="" value="" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-default" type="submit" name="button">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


