<div class="container mt-4">

    <div class="text-center darken-grey-text mb-4">
        <h1 class="font-bold mt-4 mb-3 h5">Built with Material Design for Bootstrap 4</h1>
        <a class="btn btn-danger btn-md" href="https://vk.com/feed" target="_blank">Получить битки<i
                    class="fa fa-download pl-2"></i></a>
    </div>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-5">

            <div class="card hoverable">
                <div class="z-depth-2">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/6-col/img (63).jpg" class="img-fluid"
                         alt="sample image">
                </div>
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Indonectetus facilis</h4>
                    <!--Text-->
                    <p class="card-text">Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui
                        fermentumnec.</p>
                </div>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-5">

            <div class="card hoverable">
                <div class="z-depth-2">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/6-col/img (63).jpg" class="img-fluid"
                         alt="sample image">
                </div>
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Indonectetus facilis</h4>
                    <!--Text-->
                    <p class="card-text">Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui
                        fermentumnec.</p>
                </div>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-5">

            <div class="card hoverable">
                <div class="z-depth-2">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/6-col/img (63).jpg" class="img-fluid"
                         alt="sample image">
                </div>
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Indonectetus facilis</h4>
                    <!--Text-->
                    <p class="card-text">Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui
                        fermentumnec.</p>
                </div>
            </div>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-5">

            <div class="card hoverable">
                <div class="z-depth-2">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/6-col/img (63).jpg" class="img-fluid"
                         alt="sample image">
                </div>
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Indonectetus facilis</h4>
                    <!--Text-->
                    <p class="card-text">Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui
                        fermentumnec.</p>
                </div>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-5">

            <div class="card hoverable">
                <div class="z-depth-2">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/6-col/img (63).jpg" class="img-fluid"
                         alt="sample image">
                </div>
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Indonectetus facilis</h4>
                    <!--Text-->
                    <p class="card-text">Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui
                        fermentumnec.</p>
                </div>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-5">

            <div class="card hoverable">
                <div class="z-depth-2">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/6-col/img (63).jpg" class="img-fluid"
                         alt="sample image">
                </div>
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Indonectetus facilis</h4>
                    <!--Text-->
                    <p class="card-text">Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui
                        fermentumnec.</p>
                </div>
            </div>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-4">

    <div class="text-center darken-grey-text mb-4">
        <h3 class="font-bold mb-3">Here you can find more Shadows:</h3>
        <a class="btn btn-danger" href="https://mdbootstrap.com/css/shadows/" target="_blank">Bootstrap Shadows</a>
    </div>

</div>
<!--MDB Shadows-->
