<div id="section3">
    <div class="container mt-4">

        <div class="text-center darken-grey-text mb-4">
            <h1 class="font-bold mt-4 mb-3 h5">MINING SHOP</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-5">
                <div class="z-depth-5">
                    <div class="card hoverable">
                        <div class="z-depth-2">
                            <img src="img/diplom-847x564-640x426.jpeg"
                                 class="img-fluid"
                                 alt="sample image">
                        </div>
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Красные и синие дипломы</h4>
                            <!--Text-->
                            <p class="card-text">Че-то тут надо написать. Вот почему я разработал небольшую библиотеку для решения этой проблемы (среди прочего).</p>
                            <div style="margin-left: 110px">
                                <button class="btn btn-raised btn-danger">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="z-depth-5">
                    <div class="card hoverable">
                        <div class="z-depth-2">
                            <img src="img/1235325205_dz_2_nachert.jpg"
                                 class="img-fluid"
                                 alt="sample image">
                        </div>
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Начерталки</h4>
                            <!--Text-->
                            <p class="card-text">DignissimmorbiВот почему я разработал небольшую библиотеку для решения этой проблемы (среди прочего). rhoncus sed netus ligula conseque netus nulla aliquat id
                                dui
                                fermentumnec.</p>
                            <div style="margin-left: 110px">
                                <button class="btn btn-raised btn-danger">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="z-depth-5">
                    <div class="card hoverable">
                        <div class="z-depth-2">
                            <img src="img/38.jpg"
                                 class="img-fluid"
                                 alt="sample image">
                        </div>
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Место в экспедиции</h4>
                            <!--Text-->
                            <p class="card-text">Dignissimmorbi rhoазмеров рисунка средствами HTML у тега <img> предусмотрены атрибуты width (ширина) и height (высота). В качестве значения используются пикселы, при этом аргументы должны совпадать с физическими размерами картинки. Например, на рис. 10.6 показано изображение, которое имеет размеры 100х111 пncus sed netus ligula conseque netus nulla aliquat id
                                dui
                                fermentumnec.</p>
                            <div  class="button-buy" style="margin-left: 110px">
                                <button class="btn btn-raised btn-danger">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-5">
                <div class="z-depth-5">
                    <div class="card hoverable">
                        <div class="z-depth-2">
                            <img src="img/bitcoin-1024x768.jpg"
                                 class="img-fluid"
                                 alt="sample image">
                        </div>
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Биток</h4>
                            <!--Text-->
                            <p class="card-text">Санкт-Петербургский горный университет вошёл в топ-20 ежегодного рейтинга агентства
                                Quacquarelli Symonds (QS, Великобритания)
                                высших учебных заведений мира по предмету «Инженерное дело - добыча полезных ископаемых и горная промышленность». </p>
                            <div class="button-buy" style="margin-left: 110px">
                                <button class="btn btn-raised btn-danger">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="z-depth-5">
                    <div class="card hoverable">
                        <div class="z-depth-2">
                            <img src="img/1519828836_oil-pic905-895x505-80903.jpg"
                                 class="img-fluid"
                                 alt="sample image">
                        </div>
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Горячий американо</h4>
                            <!--Text-->
                            <p class="card-text">Санкт-Петербургский горный университет вошёл в
                                топ-20 ежегодного рейтинга агентства Quacquarelli Symonds (QS, Великобритания)
                                высших учебных заведений мира по предмету «Инженерное дело -
                                добыча полезных ископаемых и горная промышленность». </p>
                            <div class="button-buy" style="margin-left: 110px">
                                <button class="btn btn-raised btn-danger">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="z-depth-5">
                    <div class="card hoverable">
                        <div class="z-depth-2">
                            <img src="img/anekdoty-pro-kotov-i-koshek.jpg"
                                 class="img-fluid"
                                 alt="sample image">
                        </div>
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Indonectetus facilis</h4>
                            <!--Text-->
                            <p class="card-text">Санкт-Петербургский горный университет вошёл в топ-20 ежегодного рейтинга агентства
                                Quacquarelli Symonds (QS, Великобритания) высших учебных
                                заведений мира по предмету «Инженерное дело - добыча полезных ископаемых и горная промышленность». .</p>
                            <div style="margin-left: 110px">
                                <button class="btn btn-raised btn-danger">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

