<style>
    @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
</style>
<script>
    function answer(){
        let answer1 = document.getElementById("1answer");
        let answer2 = document.getElementById("2answer");
        let answer3 = document.getElementById("3answer");

        if(answer1.checked && answer2.checked && answer3.checked){
            alert("Молодец!")
        }else {
            alert("Попробуй еще раз)")
        }
    }
</script>
<div id="section4">
<div class="container">
    <h1 class="font-bold mt-12 mb-6 h1">Тест на Горняка</h1>
    <div class="col-md-12">
        <form>
            <h4>1. Что делать, если забыл пиджак дома?</h4>
            <div class="form-check">
                <label>
                    <input type="radio" name="radio" checked> <span
                            class="label-text">Бегом бежать домой за пиждаком</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="radio"> <span class="label-text">Прийти на пару без пиджака</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input id="1answer" type="radio" name="radio"> <span class="label-text">Не пойти на пару)</span>
                </label>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <form>
            <h4>2. Что делать, если преподаватель не отпускает тебя в столовую?</h4>
            <div class="form-check">
                <label>
                    <input type="radio" name="radio" checked> <span class="label-text">Бегом бежать</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="radio"> <span class="label-text">Тихо уйти</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input id="2answer" type="radio" name="radio"> <span class="label-text">С вещами отпроситься в туалет</span>
                </label>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <form>
            <h4>3. Что делать, если нет базы?</h4>
            <div class="form-check">
                <label>
                    <input type="radio" name="radio" checked> <span class="label-text">Отчисляться</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="radio"> <span class="label-text">Молиться</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input id="3answer" type="radio" name="radio"> <span class="label-text">Познать метод волшебного тыка</span>
                </label>
            </div>
        </form>
    </div>
    <br>
    <button id="btn" onclick="answer()">Ответить</button>
    <br>
</div>
</div>
